<div class="modal-dialog modal-lg">
    <div class="modal-content">
		<div class="container main">
		    <div class="row">
		        <div class="col-md-8">
		            <div>
		                <h2>{{currentArticle.wiki_article.title[0]}}</h2>
		                <p>{{currentArticle.wiki_article.wiki_body[0]}}</p>
		                <p><a href="{{wiki_article.url}}">{{currentArticle.wiki_article.url}}</a></p>
		            </div>
		        </div>
		        <div class="col-md-4" ng-hide="currentArticle.related_news.length < 1">
		            <h3>News</h3>
		            <ul class="list-group" ng-repeat="result in currentArticle.related_news">
		                <li class="list-group-item">
		                    <h4><a href="{{result['links'][0]}}" target= "_blank">{{result.title[0]}}</a></h4>
		                    <p>{{result.news_body[0]}}<p>
		                </li>
		            </ul>
		        </div>
		        <div class="col-md-4" ng-hide="currentArticle.related_tweets.length < 1">
		            <h3>Social Media</h3>
		            <ul class="list-group" ng-repeat="tweet in currentArticle.related_tweets">
		                <li class="list-group-item">
		                    <p>{{tweet}}</p>
		                </li>
		            </ul>
		        </div>
		    </div>
		</div>
  </div>
  </div>