

@media (min-width: 1200px) { 
.navbar #search-text { 
	width: 450px; 
}}

.modal-content #results{
	max-height: 600px;
}

#search-text {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
#search-box {
	margin-top: 25px;
}

#search-button, #search-button-small {
	background-color: #1bbc9b;
}

#search-button:hover {
	background-color: #069782;
}

#search-button .glyphicon{
	color: white;
}

#search-button-small {
	border: none;
	margin-top: 20px;
}

#fixme {position: fixed;left: 0;right: 0; top:0;}
/* prevent overlap */
header{
	margin-bottom:80px;
}

#results div:last-of-type hr {
    display: none;
}

.custom-search-form .btn{
	border: 1px solid transparent;
}

.navbar {
	min-height:80px;
}

.main {
	min-height:600px;
}

.jumbotron {
	background-color: #f5f5f5;
}

.modal button {
/* margin-left: 10px; */
margin-right: 5px;
border: 0;
}

.list-group-item {
padding: 5px 10px;
}

h5, .h5 {
margin-top: 5px;
margin-bottom: 5px;
}

autocomplete div ul{
	padding:0px 0px;
}

autocomplete li:hover{
  width: 100%;
  background-color: #4bf;
}

.suggest {
  list-style: none;
  padding: 0px 0px;
}

.suggest li {
  display: inline;
}

.suggest li:last-of-type span {
	display:none;
}