{%extends 'base.html'%} 
{%block content%}
{% include 'header.html' %}

<div class="container main">
    <div class="row">
    {% autoescape false %}
        <div class="col-md-8">
            <div>
                <h2>{{wiki_article.title[0]}}</h2>
                <p>{{wiki_article.wiki_body[0]}}</p>
                <p><a href="{{wiki_article.url}}">{{wiki_article.url}}</a></p>
            </div>
        </div>
        {% endautoescape %}
        {% if related_news %}
        <div class="col-md-4">
            <h3>News</h3>
            <ul class="list-group">
                {% for result in related_news%}
                <li class="list-group-item">
                    <h5><a href="{{result['links'][0]}}" target= "_blank">{{result.get('title',[])[0]}}</a></h5>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% if related_tweets %}
        <div class="col-md-4">
            <h3>Social Media</h3>
            <ul class="list-group">
                {% for tweet in related_tweets%}
                <li class="list-group-item">
                    <p>{{tweet}}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>

</div>
{%endblock%}